<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.1.xsd">


    <!--<bean id="person" class="cn.gs.entity.Person">-->
    <!--<property name="name" value="tom"/>-->
    <!--<property name="salary" value="102.3"/>-->
    <!--<property name="personId" value="1"/>-->
    <!--<property name="sex" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="helloDao" class="cn.gs.dao.HelloDao" scope="prototype"/>-->
    <!--<bean id="personDao" class="cn.gs.dao.PersonDao"/>-->
    <!--<bean id="personService" class="cn.gs.service.PersonService"/>-->

    <context:component-scan base-package="cn.gs.aopService"/>
    <!--<bean id="beforeLog" class="cn.gs.aopService.BeforeLog"/>-->
    <!--<bean id="afterLog" class="cn.gs.aopService.AfterLog"/>-->
    <!--<bean id="log" class="cn.gs.aopService.Log"/>-->
    <!--<bean id="userService" class="cn.gs.aopService.UserServiceImpl"/>-->
    <!--<aop:config>-->
    <!--<aop:pointcut expression="execution(* cn.gs.aopService.*.*(..))" id="pointcut"/>-->
    <!--<aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
    <!--<aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
    <!--</aop:config>-->

    <aop:aspectj-autoproxy/>
    <bean id="greetingAdvice" class="cn.gs.service.GreetingAdvice"/>
    <bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"/>
        <property name="pattern" value="cn.gs.service.GreetingImpl."/>
    </bean>

<!--
    <bean id="greetinImpl" class="cn.gs.service.GreetingImpl"/>
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interfaces" value="cn.gs.service.Greeting"/>
        <property name="target" ref="greetinImpl"/>
        <property name="interceptorNames" value="greetingAdvice"/>
    </bean>
-->

    <bean id="helloDao" class="cn.gs.dao.HelloDao"
          init-method="setUp" destroy-method="destory"/>

</beans>